/node_modules
/vendor
.env
/public/storage
composer.lock
error_log
package-lock.json
/storage/app/root/Desktop/*
/storage/app/root/Documents/*
/storage/app/root/Document/*
/storage/app/root/Downloads/*
/storage/app/root/Download/*
/storage/app/root/Gallery/*
/storage/app/root/Recyclebin/*
/storage/app/imports/*
.htaccess
server.log
.vscode
